*.o
*.so
*.a
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
desktop/opencubicplayer.desktop
doc/texi/faq.texi
doc/texi/install.texi
doc/texi/ocp.texi
goodies/helpc/ocphhc
Makefile
ocp
ocp.hlp
ocp.ini
playgmi/calcnewt
Rules.make
