[submodule "playgmi/timidity-git"]
	path = playtimidity/timidity-git
	url = https://github.com/mywave82/timidity.git
	branch = ocp
[submodule "playsid/libsidplayfp-git"]
	path = playsid/libsidplayfp-git
	url = https://github.com/mywave82/libsidplayfp.git
	branch = ocp
[submodule "playopl/libbinio-git"]
	path = playopl/libbinio-git
	url = https://github.com/mywave82/libbinio.git
[submodule "playopl/adplug-git"]
	path = playopl/adplug-git
	url = https://github.com/mywave82/adplug.git
	branch = ocp
[submodule "playopl/adplugdb-git"]
	path = playopl/adplugdb-git
	url = https://github.com/adplug/database.git
[submodule "playqoa/qoa-git"]
	path = playqoa/qoa-git
	url = https://github.com/phoboslab/qoa
