*.swp
*~
*.o
*.so
*.dylib
*.a
asm_emu/test-x86
autom4te.cache/
config.h
config.log
config.status
desktop/opencubicplayer.desktop
dev/mchasm_test
dev/ringbuffer-unit-test
dev/smpman_asminctest
devw/test-dwmixa
devw/test-dwmixfa
devw/test-dwmixqa
doc/ocp.1
doc/opencp.dox
doc/texi/faq.texi
doc/texi/install.texi
doc/texi/ocp.texi
doc/texi/ocp.info.gz
doc/texi/ocp_html
doc/texi/ocp.html
filesel/adbmeta-test
filesel/dirdb-test
filesel/filesystem-bzip2-test
filesel/filesystem-filehandle-cache-test
filesel/filesystem-gzip-test
filesel/filesystem-tar-test
filesel/mdb-test
goodies/helpc/ocphhc
goodies/helpc/Makefile
goodies/pack/Makefile
goodies/pack/pack
haiku/ocp.rdef
haiku/ocp.rsrc
/Makefile
ocp
ocp.hlp
ocp.ini
playgmi/calcnewt
Rules.make
playay/dumpay
playgmd/dumps3m
playgmd/dumpstm
playgmi/dumpmidi
playhvl/dumpahx
playmp2/dumpid3
playsid/dumpsid
playtimidity/calcnewt
playtimidity/dumpmidi
playxm/dumpmod
stuff/compat-test
