*.o
*.so
*.a
autom4te.cache/
config.h
config.log
config.status
desktop/opencubicplayer.desktop
doc/opencp.dox
doc/texi/faq.texi
doc/texi/install.texi
doc/texi/ocp.texi
doc/texi/ocp.html
doc/texi/ocp.info.gz
goodies/helpc/ocphhc
goodies/helpc/Makefile
goodies/pack/Makefile
/Makefile
ocp
ocp.hlp
ocp.ini
playgmi/calcnewt
Rules.make
playay/dumpay
playgmd/dumps3m
playgmd/dumpstm
playgmi/dumpmidi
playhvl/dumpahx
playsid/dumpsid
